@import "../../global.scss";

.about{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.6;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                text-align: center;
                font-size: 50px;
                font-weight: 300;
                margin: 10px 10px 10px 10px;

                @include mobile {
                    font-size: 24px;
                    margin: 0 0 0 0;
                }
            }

            p{
                text-align: center;
                margin-top: 20px;
                font-size: 18px;
                @include mobile {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }

            @include mobile {
                width: 90%;
            }
        }
        @include mobile {
            flex: 0.5;
        }
    }
    .right{
        flex: 0.4;
        overflow: hidden;
        display: flex;
        justify-content:center;
        align-items: center;
        padding-right: 10%;

        img {
            border-radius: 20%;
            
            @include mobile {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        @include mobile {
            padding-right: 0;
        }
    }
}